/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
li a{
  color:#bfc3c8;
}
a{
  text-decoration: none;
}
a:hover{
  color: black;
}
.container{
  width: 80%;
  margin: auto;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.sinistra img{
  height: 20px;
}

.sinistra > li,
.destra > li{
  display: inline-block;
  position: relative;
}
.sinistra li{
  margin-right: 20px;
}
.destra li {
  margin-left: 20px;
}
.sinistra li:nth-child(2) a {
  color: black;
}
.cta{
  padding: 10px;
  background-color: #eb008d;
  color: white;
  border-radius: 20px;
}
.dropdown{
  width: 100px;
  position: absolute;
  top: 100%;
  left: -20px;
  border: 1px solid black;
  display: none;
}
.active{
  display: block;
}
