/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
li a{
  color:#bfc3c8;
}
a{
  text-decoration: none;
}
/*hover sui link*/
a:hover{
  color: black;
}
.container{
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.sinistra img{
  height: 20px;
}
.sinistra > li,
.destra > li{
  position: relative;
}
/*flex*/
.destra,
.sinistra{
  display: flex;
  align-items: center;
}
.sinistra li{
  margin-right: 20px;
}
.destra li {
  margin-left: 20px;
}
.sinistra li:nth-child(2) a {
  color: black;
}
/*stile link bottone*/
.cta{
  padding: 10px;
  background-color: #eb008d;
  color: white;
  border-radius: 20px;
}
/*stile della tendina*/
.dropdown{
  width: 150px;
  position: absolute;
  top: 150%;
  left: -20px;
  display: none;
  line-height: 35px;
  box-shadow:0px 0px 7px #020108;
}
.active{
  display: block;
}
.it i{
  display: none;
}
i.active{
  display: inline-block;
}
span{
  color: #eb008d;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  top:-10px;
}
